//! **************************************************************************
// Written by: Map P.40xd on Wed Mar 22 16:06:11 2017
//! **************************************************************************

SCHEMATIC START;
COMP "ADV7179_SCRESET" LOCATE = SITE "AD12" LEVEL 1;
COMP "ADV7179_TTXREQ" LOCATE = SITE "AC13" LEVEL 1;
COMP "rst" LOCATE = SITE "M6" LEVEL 1;
COMP "SRAM_A_CE" LOCATE = SITE "V24" LEVEL 1;
COMP "SRAM_B_CE" LOCATE = SITE "H3" LEVEL 1;
COMP "SRAM_A_LB" LOCATE = SITE "J23" LEVEL 1;
COMP "SRAM_B_LB" LOCATE = SITE "Y4" LEVEL 1;
COMP "SRAM_A_OE" LOCATE = SITE "H23" LEVEL 1;
COMP "SRAM_B_OE" LOCATE = SITE "W4" LEVEL 1;
COMP "SRAM_A_UB" LOCATE = SITE "H24" LEVEL 1;
COMP "SRAM_A_WE" LOCATE = SITE "T25" LEVEL 1;
COMP "SRAM_B_UB" LOCATE = SITE "V3" LEVEL 1;
COMP "SRAM_B_WE" LOCATE = SITE "F1" LEVEL 1;
COMP "clk_59m" LOCATE = SITE "C14" LEVEL 1;
COMP "video_zoom" LOCATE = SITE "AA5" LEVEL 1;
COMP "cross_output" LOCATE = SITE "Y5" LEVEL 1;
COMP "SRAM_A_A<0>" LOCATE = SITE "W24" LEVEL 1;
COMP "SRAM_A_A<1>" LOCATE = SITE "Y23" LEVEL 1;
COMP "SRAM_A_A<2>" LOCATE = SITE "K21" LEVEL 1;
COMP "SRAM_A_A<3>" LOCATE = SITE "U22" LEVEL 1;
COMP "SRAM_A_A<4>" LOCATE = SITE "V22" LEVEL 1;
COMP "SRAM_A_A<5>" LOCATE = SITE "C26" LEVEL 1;
COMP "SRAM_A_A<6>" LOCATE = SITE "F23" LEVEL 1;
COMP "SRAM_A_A<7>" LOCATE = SITE "F24" LEVEL 1;
COMP "SRAM_A_A<8>" LOCATE = SITE "G23" LEVEL 1;
COMP "SRAM_A_A<9>" LOCATE = SITE "E25" LEVEL 1;
COMP "SRAM_A_D<0>" LOCATE = SITE "AA24" LEVEL 1;
COMP "SRAM_A_D<1>" LOCATE = SITE "AA23" LEVEL 1;
COMP "SRAM_A_D<2>" LOCATE = SITE "AB24" LEVEL 1;
COMP "SRAM_A_D<3>" LOCATE = SITE "AB23" LEVEL 1;
COMP "SRAM_B_A<0>" LOCATE = SITE "H4" LEVEL 1;
COMP "SRAM_A_D<4>" LOCATE = SITE "U26" LEVEL 1;
COMP "SRAM_B_A<1>" LOCATE = SITE "G4" LEVEL 1;
COMP "SRAM_A_D<5>" LOCATE = SITE "U25" LEVEL 1;
COMP "SRAM_B_A<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "SRAM_A_D<6>" LOCATE = SITE "V25" LEVEL 1;
COMP "SRAM_B_A<3>" LOCATE = SITE "F4" LEVEL 1;
COMP "SRAM_A_D<7>" LOCATE = SITE "W26" LEVEL 1;
COMP "SRAM_B_A<4>" LOCATE = SITE "E3" LEVEL 1;
COMP "SRAM_A_D<8>" LOCATE = SITE "E26" LEVEL 1;
COMP "SRAM_B_A<5>" LOCATE = SITE "M5" LEVEL 1;
COMP "SRAM_A_D<9>" LOCATE = SITE "D25" LEVEL 1;
COMP "SRAM_B_A<6>" LOCATE = SITE "L5" LEVEL 1;
COMP "SRAM_B_A<7>" LOCATE = SITE "K5" LEVEL 1;
COMP "SRAM_B_A<8>" LOCATE = SITE "W3" LEVEL 1;
COMP "SRAM_B_A<9>" LOCATE = SITE "U1" LEVEL 1;
COMP "SRAM_B_D<0>" LOCATE = SITE "J4" LEVEL 1;
COMP "SRAM_B_D<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "SRAM_B_D<2>" LOCATE = SITE "K4" LEVEL 1;
COMP "SRAM_B_D<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "SRAM_B_D<4>" LOCATE = SITE "D1" LEVEL 1;
COMP "SRAM_B_D<5>" LOCATE = SITE "D2" LEVEL 1;
COMP "SRAM_B_D<6>" LOCATE = SITE "E1" LEVEL 1;
COMP "SRAM_B_D<7>" LOCATE = SITE "E2" LEVEL 1;
COMP "SRAM_B_D<8>" LOCATE = SITE "W2" LEVEL 1;
COMP "SRAM_B_D<9>" LOCATE = SITE "W1" LEVEL 1;
COMP "ADV7180_P<0>" LOCATE = SITE "AF14" LEVEL 1;
COMP "ADV7180_P<1>" LOCATE = SITE "AF13" LEVEL 1;
COMP "ADV7180_P<2>" LOCATE = SITE "AF16" LEVEL 1;
COMP "ADV7180_P<3>" LOCATE = SITE "AF17" LEVEL 1;
COMP "ADV7180_P<4>" LOCATE = SITE "AF21" LEVEL 1;
COMP "ADV7180_P<5>" LOCATE = SITE "AF22" LEVEL 1;
COMP "ADV7180_P<6>" LOCATE = SITE "AF23" LEVEL 1;
COMP "ADV7180_P<7>" LOCATE = SITE "AE23" LEVEL 1;
COMP "ADV7179_P<0>" LOCATE = SITE "AD14" LEVEL 1;
COMP "ADV7179_P<1>" LOCATE = SITE "AD15" LEVEL 1;
COMP "ADV7179_P<2>" LOCATE = SITE "AC16" LEVEL 1;
COMP "ADV7179_P<3>" LOCATE = SITE "AC17" LEVEL 1;
COMP "ADV7179_P<4>" LOCATE = SITE "AD17" LEVEL 1;
COMP "ADV7179_P<5>" LOCATE = SITE "AE12" LEVEL 1;
COMP "ADV7179_P<6>" LOCATE = SITE "AF11" LEVEL 1;
COMP "ADV7179_P<7>" LOCATE = SITE "AE11" LEVEL 1;
COMP "enhance_enable" LOCATE = SITE "W5" LEVEL 1;
COMP "clkout" LOCATE = SITE "J5" LEVEL 1;
COMP "ttl_en" LOCATE = SITE "V5" LEVEL 1;
COMP "ADV7180_LLC" LOCATE = SITE "AE14" LEVEL 1;
COMP "ADV7180_INT" LOCATE = SITE "AC19" LEVEL 1;
COMP "ADV7180_SDA" LOCATE = SITE "AE24" LEVEL 1;
COMP "ADV7180_SCL" LOCATE = SITE "AF24" LEVEL 1;
COMP "ADV7180_SFL" LOCATE = SITE "AE21" LEVEL 1;
COMP "ADV7180_RST" LOCATE = SITE "AC18" LEVEL 1;
COMP "ADV7179_CLK" LOCATE = SITE "AE13" LEVEL 1;
COMP "ADV7179_SDA" LOCATE = SITE "AC11" LEVEL 1;
COMP "ADV7179_SCL" LOCATE = SITE "AD10" LEVEL 1;
COMP "ADV7179_RST" LOCATE = SITE "AC8" LEVEL 1;
COMP "ADV7179_TTX" LOCATE = SITE "AD13" LEVEL 1;
COMP "SRAM_A_A<10>" LOCATE = SITE "F26" LEVEL 1;
COMP "SRAM_A_A<11>" LOCATE = SITE "F25" LEVEL 1;
COMP "SRAM_A_A<12>" LOCATE = SITE "G26" LEVEL 1;
COMP "SRAM_A_A<13>" LOCATE = SITE "G25" LEVEL 1;
COMP "SRAM_A_A<14>" LOCATE = SITE "H26" LEVEL 1;
COMP "SRAM_A_A<15>" LOCATE = SITE "P26" LEVEL 1;
COMP "SRAM_A_A<16>" LOCATE = SITE "P25" LEVEL 1;
COMP "SRAM_A_A<17>" LOCATE = SITE "R26" LEVEL 1;
COMP "SRAM_A_A<18>" LOCATE = SITE "R25" LEVEL 1;
COMP "SRAM_A_A<19>" LOCATE = SITE "T26" LEVEL 1;
COMP "SRAM_A_D<10>" LOCATE = SITE "D26" LEVEL 1;
COMP "SRAM_A_D<11>" LOCATE = SITE "C25" LEVEL 1;
COMP "SRAM_A_D<12>" LOCATE = SITE "L23" LEVEL 1;
COMP "SRAM_A_D<13>" LOCATE = SITE "K24" LEVEL 1;
COMP "SRAM_A_D<14>" LOCATE = SITE "K23" LEVEL 1;
COMP "SRAM_A_D<15>" LOCATE = SITE "J24" LEVEL 1;
COMP "SRAM_B_A<10>" LOCATE = SITE "T2" LEVEL 1;
COMP "SRAM_B_A<11>" LOCATE = SITE "T1" LEVEL 1;
COMP "SRAM_B_A<12>" LOCATE = SITE "R2" LEVEL 1;
COMP "SRAM_B_A<13>" LOCATE = SITE "R1" LEVEL 1;
COMP "SRAM_B_A<14>" LOCATE = SITE "P2" LEVEL 1;
COMP "SRAM_B_A<15>" LOCATE = SITE "H2" LEVEL 1;
COMP "SRAM_B_A<16>" LOCATE = SITE "H1" LEVEL 1;
COMP "SRAM_B_A<17>" LOCATE = SITE "G2" LEVEL 1;
COMP "SRAM_B_A<18>" LOCATE = SITE "G1" LEVEL 1;
COMP "SRAM_B_A<19>" LOCATE = SITE "F2" LEVEL 1;
COMP "SRAM_B_D<10>" LOCATE = SITE "V2" LEVEL 1;
COMP "SRAM_B_D<11>" LOCATE = SITE "U2" LEVEL 1;
COMP "SRAM_B_D<12>" LOCATE = SITE "AB4" LEVEL 1;
COMP "SRAM_B_D<13>" LOCATE = SITE "AB3" LEVEL 1;
COMP "SRAM_B_D<14>" LOCATE = SITE "AA4" LEVEL 1;
COMP "SRAM_B_D<15>" LOCATE = SITE "AA3" LEVEL 1;
COMP "ADV7180_HS" LOCATE = SITE "AE20" LEVEL 1;
COMP "ADV7180_VS" LOCATE = SITE "AD19" LEVEL 1;
COMP "ADV7179_HS" LOCATE = SITE "AC10" LEVEL 1;
COMP "ADV7179_VS" LOCATE = SITE "AD9" LEVEL 1;
COMP "ADV7180_PWDOWN" LOCATE = SITE "AD18" LEVEL 1;
COMP "ADV7179_BLANK" LOCATE = SITE "AC9" LEVEL 1;
NET "clk27M_DCMed1" BEL "clk27M_DCMed_BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk59M_DCMed1" BEL "clk59M_DCMed_BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

