//! **************************************************************************
// Written by: Map P.40xd on Mon Mar 13 00:33:17 2017
//! **************************************************************************

SCHEMATIC START;
COMP "ADV7179_SCRESET" LOCATE = SITE "AD12" LEVEL 1;
COMP "ADV7179_TTXREQ" LOCATE = SITE "AC13" LEVEL 1;
COMP "rst" LOCATE = SITE "M6" LEVEL 1;
COMP "DA<0>" LOCATE = SITE "AD14" LEVEL 1;
COMP "DA<1>" LOCATE = SITE "AD15" LEVEL 1;
COMP "DA<2>" LOCATE = SITE "AC16" LEVEL 1;
COMP "DA<3>" LOCATE = SITE "AC17" LEVEL 1;
COMP "DA<4>" LOCATE = SITE "AD17" LEVEL 1;
COMP "DA<5>" LOCATE = SITE "AE12" LEVEL 1;
COMP "DA<6>" LOCATE = SITE "AF11" LEVEL 1;
COMP "DA<7>" LOCATE = SITE "AE11" LEVEL 1;
COMP "clk_59m" LOCATE = SITE "C14" LEVEL 1;
COMP "sram1_Ab<0>" LOCATE = SITE "H4" LEVEL 1;
COMP "sram1_Ab<1>" LOCATE = SITE "G4" LEVEL 1;
COMP "sram1_Ab<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "sram1_Ab<3>" LOCATE = SITE "F4" LEVEL 1;
COMP "sram1_Ab<4>" LOCATE = SITE "E3" LEVEL 1;
COMP "sram1_Ab<5>" LOCATE = SITE "M5" LEVEL 1;
COMP "sram1_Ab<6>" LOCATE = SITE "L5" LEVEL 1;
COMP "sram1_Ab<7>" LOCATE = SITE "K5" LEVEL 1;
COMP "sram1_Ab<8>" LOCATE = SITE "W3" LEVEL 1;
COMP "sram1_Ab<9>" LOCATE = SITE "U1" LEVEL 1;
COMP "sram1_Db<0>" LOCATE = SITE "J4" LEVEL 1;
COMP "sram1_Db<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "sram1_Db<2>" LOCATE = SITE "K4" LEVEL 1;
COMP "sram1_Db<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "sram1_Db<4>" LOCATE = SITE "D1" LEVEL 1;
COMP "sram1_Db<5>" LOCATE = SITE "D2" LEVEL 1;
COMP "sram1_Db<6>" LOCATE = SITE "E1" LEVEL 1;
COMP "sram1_Db<7>" LOCATE = SITE "E2" LEVEL 1;
COMP "sram2_Ab<0>" LOCATE = SITE "W24" LEVEL 1;
COMP "sram1_Db<8>" LOCATE = SITE "W2" LEVEL 1;
COMP "sram2_Ab<1>" LOCATE = SITE "Y23" LEVEL 1;
COMP "sram1_Db<9>" LOCATE = SITE "W1" LEVEL 1;
COMP "sram2_Ab<2>" LOCATE = SITE "K21" LEVEL 1;
COMP "sram2_Ab<3>" LOCATE = SITE "U22" LEVEL 1;
COMP "sram2_Ab<4>" LOCATE = SITE "V22" LEVEL 1;
COMP "sram2_Ab<5>" LOCATE = SITE "C26" LEVEL 1;
COMP "sram2_Ab<6>" LOCATE = SITE "F23" LEVEL 1;
COMP "sram2_Ab<7>" LOCATE = SITE "F24" LEVEL 1;
COMP "sram2_Ab<8>" LOCATE = SITE "G23" LEVEL 1;
COMP "sram2_Ab<9>" LOCATE = SITE "E25" LEVEL 1;
COMP "sram2_Db<0>" LOCATE = SITE "AA24" LEVEL 1;
COMP "sram2_Db<1>" LOCATE = SITE "AA23" LEVEL 1;
COMP "sram2_Db<2>" LOCATE = SITE "AB24" LEVEL 1;
COMP "sram2_Db<3>" LOCATE = SITE "AB23" LEVEL 1;
COMP "sram2_Db<4>" LOCATE = SITE "U26" LEVEL 1;
COMP "sram2_Db<5>" LOCATE = SITE "U25" LEVEL 1;
COMP "sram2_Db<6>" LOCATE = SITE "V25" LEVEL 1;
COMP "sram2_Db<7>" LOCATE = SITE "W26" LEVEL 1;
COMP "sram3_Ab<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "sram2_Db<8>" LOCATE = SITE "E26" LEVEL 1;
COMP "sram3_Ab<1>" LOCATE = SITE "P23" LEVEL 1;
COMP "sram2_Db<9>" LOCATE = SITE "D25" LEVEL 1;
COMP "sram3_Ab<2>" LOCATE = SITE "N24" LEVEL 1;
COMP "sram3_Ab<3>" LOCATE = SITE "N23" LEVEL 1;
COMP "sram3_Ab<4>" LOCATE = SITE "M24" LEVEL 1;
COMP "sram3_Ab<5>" LOCATE = SITE "U21" LEVEL 1;
COMP "sram3_Ab<6>" LOCATE = SITE "AC22" LEVEL 1;
COMP "sram3_Ab<7>" LOCATE = SITE "T21" LEVEL 1;
COMP "sram3_Ab<8>" LOCATE = SITE "AB22" LEVEL 1;
COMP "sram3_Ab<9>" LOCATE = SITE "AB26" LEVEL 1;
COMP "sram3_Db<0>" LOCATE = SITE "T23" LEVEL 1;
COMP "sram3_Db<1>" LOCATE = SITE "U23" LEVEL 1;
COMP "sram3_Db<2>" LOCATE = SITE "U24" LEVEL 1;
COMP "sram3_Db<3>" LOCATE = SITE "V23" LEVEL 1;
COMP "sram3_Db<4>" LOCATE = SITE "H25" LEVEL 1;
COMP "sram3_Db<5>" LOCATE = SITE "J25" LEVEL 1;
COMP "sram3_Db<6>" LOCATE = SITE "K26" LEVEL 1;
COMP "sram3_Db<7>" LOCATE = SITE "K25" LEVEL 1;
COMP "sram4_Ab<0>" LOCATE = SITE "R5" LEVEL 1;
COMP "sram3_Db<8>" LOCATE = SITE "AB25" LEVEL 1;
COMP "sram4_Ab<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "sram3_Db<9>" LOCATE = SITE "AC26" LEVEL 1;
COMP "sram4_Ab<2>" LOCATE = SITE "T5" LEVEL 1;
COMP "sram4_Ab<3>" LOCATE = SITE "U6" LEVEL 1;
COMP "sram4_Ab<4>" LOCATE = SITE "U5" LEVEL 1;
COMP "sram4_Ab<5>" LOCATE = SITE "L4" LEVEL 1;
COMP "sram4_Ab<6>" LOCATE = SITE "M3" LEVEL 1;
COMP "sram4_Ab<7>" LOCATE = SITE "N4" LEVEL 1;
COMP "sram4_Ab<8>" LOCATE = SITE "N3" LEVEL 1;
COMP "sram4_Ab<9>" LOCATE = SITE "L2" LEVEL 1;
COMP "sram4_Db<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "sram4_Db<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "sram4_Db<2>" LOCATE = SITE "N5" LEVEL 1;
COMP "sram4_Db<3>" LOCATE = SITE "N6" LEVEL 1;
COMP "sram4_Db<4>" LOCATE = SITE "AD2" LEVEL 1;
COMP "sram4_Db<5>" LOCATE = SITE "AD1" LEVEL 1;
COMP "sram4_Db<6>" LOCATE = SITE "AC2" LEVEL 1;
COMP "sram4_Db<7>" LOCATE = SITE "AC1" LEVEL 1;
COMP "sram4_Db<8>" LOCATE = SITE "L1" LEVEL 1;
COMP "sram4_Db<9>" LOCATE = SITE "K2" LEVEL 1;
COMP "AD1<0>" LOCATE = SITE "AF14" LEVEL 1;
COMP "AD1<1>" LOCATE = SITE "AF13" LEVEL 1;
COMP "AD1<2>" LOCATE = SITE "AF16" LEVEL 1;
COMP "AD1<3>" LOCATE = SITE "AF17" LEVEL 1;
COMP "AD1<4>" LOCATE = SITE "AF21" LEVEL 1;
COMP "AD1<5>" LOCATE = SITE "AF22" LEVEL 1;
COMP "AD1<6>" LOCATE = SITE "AF23" LEVEL 1;
COMP "AD1<7>" LOCATE = SITE "AE23" LEVEL 1;
COMP "sram1_Ab<10>" LOCATE = SITE "T2" LEVEL 1;
COMP "sram1_Ab<11>" LOCATE = SITE "T1" LEVEL 1;
COMP "sram1_Ab<12>" LOCATE = SITE "R2" LEVEL 1;
COMP "sram1_Ab<13>" LOCATE = SITE "R1" LEVEL 1;
COMP "sram1_Ab<14>" LOCATE = SITE "P2" LEVEL 1;
COMP "sram1_Ab<15>" LOCATE = SITE "H2" LEVEL 1;
COMP "sram1_Ab<16>" LOCATE = SITE "H1" LEVEL 1;
COMP "sram1_Ab<17>" LOCATE = SITE "G2" LEVEL 1;
COMP "sram1_Ab<18>" LOCATE = SITE "G1" LEVEL 1;
COMP "sram1_Ab<19>" LOCATE = SITE "F2" LEVEL 1;
COMP "sram1_Db<10>" LOCATE = SITE "V2" LEVEL 1;
COMP "sram1_Db<11>" LOCATE = SITE "U2" LEVEL 1;
COMP "sram1_Db<12>" LOCATE = SITE "AB4" LEVEL 1;
COMP "sram1_Db<13>" LOCATE = SITE "AB3" LEVEL 1;
COMP "sram1_Db<14>" LOCATE = SITE "AA4" LEVEL 1;
COMP "sram1_Db<15>" LOCATE = SITE "AA3" LEVEL 1;
COMP "sram2_Ab<10>" LOCATE = SITE "F26" LEVEL 1;
COMP "sram2_Ab<11>" LOCATE = SITE "F25" LEVEL 1;
COMP "sram2_Ab<12>" LOCATE = SITE "G26" LEVEL 1;
COMP "sram2_Ab<13>" LOCATE = SITE "G25" LEVEL 1;
COMP "sram2_Ab<14>" LOCATE = SITE "H26" LEVEL 1;
COMP "sram2_Ab<15>" LOCATE = SITE "P26" LEVEL 1;
COMP "sram2_Ab<16>" LOCATE = SITE "P25" LEVEL 1;
COMP "sram2_Ab<17>" LOCATE = SITE "R26" LEVEL 1;
COMP "sram2_Ab<18>" LOCATE = SITE "R25" LEVEL 1;
COMP "sram2_Ab<19>" LOCATE = SITE "T26" LEVEL 1;
COMP "sram2_Db<10>" LOCATE = SITE "D26" LEVEL 1;
COMP "sram2_Db<11>" LOCATE = SITE "C25" LEVEL 1;
COMP "sram2_Db<12>" LOCATE = SITE "L23" LEVEL 1;
COMP "sram2_Db<13>" LOCATE = SITE "K24" LEVEL 1;
COMP "sram2_Db<14>" LOCATE = SITE "K23" LEVEL 1;
COMP "sram2_Db<15>" LOCATE = SITE "J24" LEVEL 1;
COMP "sram3_Ab<10>" LOCATE = SITE "AA25" LEVEL 1;
COMP "sram3_Ab<11>" LOCATE = SITE "AA26" LEVEL 1;
COMP "sram3_Ab<12>" LOCATE = SITE "Y25" LEVEL 1;
COMP "sram3_Ab<13>" LOCATE = SITE "Y26" LEVEL 1;
COMP "sram3_Ab<14>" LOCATE = SITE "W25" LEVEL 1;
COMP "sram3_Ab<15>" LOCATE = SITE "N25" LEVEL 1;
COMP "sram3_Ab<16>" LOCATE = SITE "N26" LEVEL 1;
COMP "sram3_Ab<17>" LOCATE = SITE "M25" LEVEL 1;
COMP "sram3_Ab<18>" LOCATE = SITE "M26" LEVEL 1;
COMP "sram3_Ab<19>" LOCATE = SITE "L25" LEVEL 1;
COMP "sram3_Db<10>" LOCATE = SITE "AC25" LEVEL 1;
COMP "sram3_Db<11>" LOCATE = SITE "L21" LEVEL 1;
COMP "sram3_Db<12>" LOCATE = SITE "M21" LEVEL 1;
COMP "sram3_Db<13>" LOCATE = SITE "W22" LEVEL 1;
COMP "sram3_Db<14>" LOCATE = SITE "N21" LEVEL 1;
COMP "sram3_Db<15>" LOCATE = SITE "Y22" LEVEL 1;
COMP "sram4_Ab<10>" LOCATE = SITE "M1" LEVEL 1;
COMP "sram4_Ab<11>" LOCATE = SITE "M2" LEVEL 1;
COMP "sram4_Ab<12>" LOCATE = SITE "N1" LEVEL 1;
COMP "sram4_Ab<13>" LOCATE = SITE "N2" LEVEL 1;
COMP "sram4_Ab<14>" LOCATE = SITE "P1" LEVEL 1;
COMP "sram4_Ab<15>" LOCATE = SITE "Y1" LEVEL 1;
COMP "sram4_Ab<16>" LOCATE = SITE "Y2" LEVEL 1;
COMP "sram4_Ab<17>" LOCATE = SITE "AA1" LEVEL 1;
COMP "sram4_Ab<18>" LOCATE = SITE "AA2" LEVEL 1;
COMP "sram4_Ab<19>" LOCATE = SITE "AB1" LEVEL 1;
COMP "sram4_Db<10>" LOCATE = SITE "K1" LEVEL 1;
COMP "sram4_Db<11>" LOCATE = SITE "J2" LEVEL 1;
COMP "sram4_Db<12>" LOCATE = SITE "V4" LEVEL 1;
COMP "sram4_Db<13>" LOCATE = SITE "U3" LEVEL 1;
COMP "sram4_Db<14>" LOCATE = SITE "U4" LEVEL 1;
COMP "sram4_Db<15>" LOCATE = SITE "T4" LEVEL 1;
COMP "ADV7180_LLC" LOCATE = SITE "AE14" LEVEL 1;
COMP "ADV7180_SDA" LOCATE = SITE "AE24" LEVEL 1;
COMP "ADV7180_SCL" LOCATE = SITE "AF24" LEVEL 1;
COMP "ADV7180_RST" LOCATE = SITE "AC18" LEVEL 1;
COMP "ADV7179_CLK" LOCATE = SITE "AE13" LEVEL 1;
COMP "ADV7179_SDA" LOCATE = SITE "AC11" LEVEL 1;
COMP "ADV7179_SCL" LOCATE = SITE "AD10" LEVEL 1;
COMP "ADV7179_RST" LOCATE = SITE "AC8" LEVEL 1;
COMP "ADV7179_TTX" LOCATE = SITE "AD13" LEVEL 1;
COMP "sram1_LB" LOCATE = SITE "Y4" LEVEL 1;
COMP "sram2_LB" LOCATE = SITE "J23" LEVEL 1;
COMP "sram1_UB" LOCATE = SITE "V3" LEVEL 1;
COMP "sram2_UB" LOCATE = SITE "H24" LEVEL 1;
COMP "sram1_ce" LOCATE = SITE "H3" LEVEL 1;
COMP "sram2_ce" LOCATE = SITE "V24" LEVEL 1;
COMP "sram3_ce" LOCATE = SITE "R24" LEVEL 1;
COMP "sram4_ce" LOCATE = SITE "R6" LEVEL 1;
COMP "sram1_oe" LOCATE = SITE "W4" LEVEL 1;
COMP "sram2_oe" LOCATE = SITE "H23" LEVEL 1;
COMP "sram3_oe" LOCATE = SITE "R21" LEVEL 1;
COMP "sram1_we" LOCATE = SITE "F1" LEVEL 1;
COMP "sram4_oe" LOCATE = SITE "P4" LEVEL 1;
COMP "sram2_we" LOCATE = SITE "T25" LEVEL 1;
COMP "sram3_we" LOCATE = SITE "L26" LEVEL 1;
COMP "sram4_we" LOCATE = SITE "AB2" LEVEL 1;
COMP "ADV7179_HS" LOCATE = SITE "AC10" LEVEL 1;
COMP "ADV7179_VS" LOCATE = SITE "AD9" LEVEL 1;
COMP "ADV7180_PWDOWN" LOCATE = SITE "AD18" LEVEL 1;
COMP "ADV7179_BLANK" LOCATE = SITE "AC9" LEVEL 1;
NET "clk27M_DCMed1" BEL "clk27M_DCMed_BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk59M_DCMed1" BEL "clk59M_DCMed_BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

