NET "AD1[0]" LOC = AF14;
NET "AD1[1]" LOC = AF13;
NET "AD1[2]" LOC = AF16;
NET "AD1[3]" LOC = AF17;
NET "AD1[4]" LOC = AF21;
NET "AD1[5]" LOC = AF22;
NET "AD1[6]" LOC = AF23;
NET "AD1[7]" LOC = AE23;
NET "DA[0]" LOC = AD14;
NET "DA[1]" LOC = AD15;
NET "DA[2]" LOC = AC16;
NET "DA[3]" LOC = AC17;
NET "DA[4]" LOC = AD17;
NET "DA[5]" LOC = AE12;
NET "DA[6]" LOC = AF11;
NET "DA[7]" LOC = AE11;
NET "ADV7179_BLANK" LOC = AC9;
NET "ADV7179_CLK" LOC = AE13;
NET "ADV7179_HS" LOC = AC10;
NET "ADV7179_VS" LOC = AD9;
NET "ADV7179_SCL" LOC = AD10;
NET "ADV7179_SDA" LOC = AC11;
NET "ADV7179_TTX" LOC = AD13;
NET "ADV7179_TTXREQ" LOC = AC13;
NET "ADV7180_LLC" LOC = AE14;
NET "ADV7180_PWDOWN" LOC = AD18;
NET "ADV7180_RST" LOC = AC18;
NET "ADV7180_SCL" LOC = AF24;
NET "ADV7180_SDA" LOC = AE24;
NET "clk_59m" LOC = C14;
NET "ADV7179_RST" LOC = AC8;
NET "ADV7179_SCRESET" LOC = AD12;
NET "rst" LOC = M6;


NET "sram1_Ab[0]" LOC = H4;
NET "sram1_Ab[1]" LOC = G4;
NET "sram1_Ab[2]" LOC = F3;
NET "sram1_Ab[3]" LOC = F4;
NET "sram1_Ab[4]" LOC = E3;
NET "sram1_Ab[5]" LOC = M5;
NET "sram1_Ab[6]" LOC = L5;
NET "sram1_Ab[7]" LOC = K5;
NET "sram1_Ab[8]" LOC = W3;
NET "sram1_Ab[9]" LOC = U1;
NET "sram1_Ab[10]" LOC = T2;
NET "sram1_Ab[11]" LOC = T1;
NET "sram1_Ab[12]" LOC = R2;
NET "sram1_Ab[13]" LOC = R1;
NET "sram1_Ab[14]" LOC = P2;
NET "sram1_Ab[15]" LOC = H2;
NET "sram1_Ab[16]" LOC = H1;
NET "sram1_Ab[17]" LOC = G2;
NET "sram1_Ab[18]" LOC = G1;
NET "sram1_Ab[19]" LOC = F2;
NET "sram1_Db[0]" LOC = J4;
NET "sram1_Db[1]" LOC = J3;
NET "sram1_Db[2]" LOC = K4;
NET "sram1_Db[3]" LOC = K3;
NET "sram1_Db[4]" LOC = D1;
NET "sram1_Db[5]" LOC = D2;
NET "sram1_Db[6]" LOC = E1;
NET "sram1_Db[7]" LOC = E2;
NET "sram1_Db[8]" LOC = W2;
NET "sram1_Db[9]" LOC = W1;
NET "sram1_Db[10]" LOC = V2;
NET "sram1_Db[11]" LOC = U2;
NET "sram1_Db[12]" LOC = AB4;
NET "sram1_Db[13]" LOC = AB3;
NET "sram1_Db[14]" LOC = AA4;
NET "sram1_Db[15]" LOC = AA3;
NET "sram2_Ab[0]" LOC = W24;
NET "sram2_Ab[1]" LOC = Y23;
NET "sram2_Ab[2]" LOC = K21;
NET "sram2_Ab[3]" LOC = U22;
NET "sram2_Ab[4]" LOC = V22;
NET "sram2_Ab[5]" LOC = C26;
NET "sram2_Ab[6]" LOC = F23;
NET "sram2_Ab[7]" LOC = F24;
NET "sram2_Ab[8]" LOC = G23;
NET "sram2_Ab[9]" LOC = E25;
NET "sram2_Ab[10]" LOC = F26;
NET "sram2_Ab[11]" LOC = F25;
NET "sram2_Ab[12]" LOC = G26;
NET "sram2_Ab[13]" LOC = G25;
NET "sram2_Ab[14]" LOC = H26;
NET "sram2_Ab[15]" LOC = P26;
NET "sram2_Ab[16]" LOC = P25;
NET "sram2_Ab[17]" LOC = R26;
NET "sram2_Ab[18]" LOC = R25;
NET "sram2_Ab[19]" LOC = T26;
NET "sram2_Db[0]" LOC = AA24;
NET "sram2_Db[1]" LOC = AA23;
NET "sram2_Db[2]" LOC = AB24;
NET "sram2_Db[3]" LOC = AB23;
NET "sram2_Db[4]" LOC = U26;
NET "sram2_Db[5]" LOC = U25;
NET "sram2_Db[6]" LOC = V25;
NET "sram2_Db[7]" LOC = W26;
NET "sram2_Db[8]" LOC = E26;
NET "sram2_Db[9]" LOC = D25;
NET "sram2_Db[10]" LOC = D26;
NET "sram2_Db[11]" LOC = C25;
NET "sram2_Db[12]" LOC = L23;
NET "sram2_Db[13]" LOC = K24;
NET "sram2_Db[14]" LOC = K23;
NET "sram2_Db[15]" LOC = J24;
NET "sram1_ce" LOC = H3;
NET "sram1_LB" LOC = Y4;
NET "sram1_oe" LOC = W4;
NET "sram1_UB" LOC = V3;
NET "sram1_we" LOC = F1;
NET "sram2_ce" LOC = V24;
NET "sram2_LB" LOC = J23;
NET "sram2_oe" LOC = H23;
NET "sram2_UB" LOC = H24;
NET "sram2_we" LOC = T25;



NET "sram3_Ab[0]" LOC = P24;
NET "sram3_Ab[1]" LOC = P23;
NET "sram3_Ab[2]" LOC = N24;
NET "sram3_Ab[3]" LOC = N23;
NET "sram3_Ab[4]" LOC = M24;
NET "sram3_Ab[5]" LOC = U21;
NET "sram3_Ab[6]" LOC = AC22;
NET "sram3_Ab[7]" LOC = T21;
NET "sram3_Ab[8]" LOC = AB22;
NET "sram3_Ab[9]" LOC = AB26;
NET "sram3_Ab[10]" LOC = AA25;
NET "sram3_Ab[11]" LOC = AA26;
NET "sram3_Ab[12]" LOC = Y25;
NET "sram3_Ab[13]" LOC = Y26;
NET "sram3_Ab[14]" LOC = W25;
NET "sram3_Ab[15]" LOC = N25;
NET "sram3_Ab[16]" LOC = N26;
NET "sram3_Ab[17]" LOC = M25;
NET "sram3_Ab[18]" LOC = M26;
NET "sram3_Ab[19]" LOC = L25;
NET "sram3_Db[0]" LOC = T23;
NET "sram3_Db[1]" LOC = U23;
NET "sram3_Db[2]" LOC = U24;
NET "sram3_Db[3]" LOC = V23;
NET "sram3_Db[4]" LOC = H25;
NET "sram3_Db[5]" LOC = J25;
NET "sram3_Db[6]" LOC = K26;
NET "sram3_Db[7]" LOC = K25;
NET "sram3_Db[8]" LOC = AB25;
NET "sram3_Db[9]" LOC = AC26;
NET "sram3_Db[10]" LOC = AC25;
NET "sram3_Db[11]" LOC = L21;
NET "sram3_Db[12]" LOC = M21;
NET "sram3_Db[13]" LOC = W22;
NET "sram3_Db[14]" LOC = N21;
NET "sram3_Db[15]" LOC = Y22;
NET "sram4_Ab[0]" LOC = R5;
NET "sram4_Ab[1]" LOC = T6;
NET "sram4_Ab[2]" LOC = T5;
NET "sram4_Ab[3]" LOC = U6;
NET "sram4_Ab[4]" LOC = U5;
NET "sram4_Ab[5]" LOC = L4;
NET "sram4_Ab[6]" LOC = M3;
NET "sram4_Ab[7]" LOC = N4;
NET "sram4_Ab[8]" LOC = N3;
NET "sram4_Ab[9]" LOC = L2;
NET "sram4_Ab[10]" LOC = M1;
NET "sram4_Ab[11]" LOC = M2;
NET "sram4_Ab[12]" LOC = N1;
NET "sram4_Ab[13]" LOC = N2;
NET "sram4_Ab[14]" LOC = P1;
NET "sram4_Ab[15]" LOC = Y1;
NET "sram4_Ab[16]" LOC = Y2;
NET "sram4_Ab[17]" LOC = AA1;
NET "sram4_Ab[18]" LOC = AA2;
NET "sram4_Ab[19]" LOC = AB1;
NET "sram4_Db[0]" LOC = P5;
NET "sram4_Db[1]" LOC = P6;
NET "sram4_Db[2]" LOC = N5;
NET "sram4_Db[3]" LOC = N6;
NET "sram4_Db[4]" LOC = AD2;
NET "sram4_Db[5]" LOC = AD1;
NET "sram4_Db[6]" LOC = AC2;
NET "sram4_Db[7]" LOC = AC1;
NET "sram4_Db[8]" LOC = L1;
NET "sram4_Db[9]" LOC = K2;
NET "sram4_Db[10]" LOC = K1;
NET "sram4_Db[11]" LOC = J2;
NET "sram4_Db[12]" LOC = V4;
NET "sram4_Db[13]" LOC = U3;
NET "sram4_Db[14]" LOC = U4;
NET "sram4_Db[15]" LOC = T4;
NET "sram3_ce" LOC = R24;
NET "sram3_oe" LOC = R21;
NET "sram3_we" LOC = L26;
NET "sram4_ce" LOC = R6;
NET "sram4_oe" LOC = P4;
NET "sram4_we" LOC = AB2;


NET "ADV7179_RST" IOSTANDARD = LVCMOS25;
